[Unit]
Description=PATH DNS & Gateway
After=network-online.target
Wants=network-online.target

[Service]
LimitNPROC=infinity
LimitNOFILE=65535
WorkingDirectory=/root/path
EnvironmentFile=/root/path/.env
ExecStartPre=/root/path/up.sh
ExecStart=/root/path/proxy.py
ExecStopPost=/root/path/down.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
